.calendar {
}

.month {
  display: inline-block;
}

.week {
}

.day {
  display: inline-flex;
  align-items: center;
  width: 2rem;
  height: 2rem;
  margin: 1px;
  background-color: #eee;
  cursor: pointer;
}

.day.selected {
  background-color: #aaa;
}

.day .text {
  margin: auto;
}

.day_shoulder {
  position: relative;
}

.day_shoulder:after {
  content: " ";
  z-index: 10;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.6);
}
